//Theme for angular material
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

//Import bootstrap
@import "bootstrap/variables";
@import "bootstrap/mixins";
@import "bootstrap/grid";

//Reset definitions
* {
  margin: 0px;
  padding: 0px;
}

.conteudo-total {
  position: relative;
  margin: 0px;
  padding: 0px;
}

//Container e menu
.example-container {
  width: 100%;
  height: 100%;
  border: 0px solid rgba(0, 0, 0, 0.5);
}

.example-sidenav-content {
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.example-sidenav {
  padding: 20px;
}

/* Let's get this party started */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: rgba(255,0,0,0.8);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255,0,0,0.4);
}

.content {
  height: 500px;
  overflow: auto;
  display: flex;
  margin-top: 20px;
}

.page-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 40px 1rem;
  height: 100%;
}

.height-100 {
  min-height: 100vh;
}

.text-center h1, h2, p, a {
  text-align: center;
}

.full-width {
  width: 100% !important;
}

.bg-primary {
  background: #3f51b5!important;
  color: #fff!important;
}

.auth {
  .mat-card-header-text {
    margin: auto !important;
  }
}

.link-auth a {
  color: rgba(0,0,0,.4);
  margin: 20px 20px 0 0;
  text-decoration: none;
  text-orientation: center;
}

#footer {
  display: flex;
  width: 100%;
  height: 50px;
  background-color: hsla(234, 85%, 28%, 0.836);
  color: #fff;
  padding-top: 5vh;
  z-index: 19990;
  p {
    margin: auto;
  }
  a {
    text-decoration: none;
    color: #fff;
  }
}
