<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav class="cabecalho-sidenav">
    Aqui ficará o menu
  </mat-sidenav>

  <div>
    <mat-toolbar class="mat-toolbar" color="" role="toolbar">
      <div class="mat-toolbar-layout">

        <button mat-icon-button (click)="sidenav.open()">
          <mat-icon>menu</mat-icon>
        </button>

        <button mat-icon-button class="mat-button-right">
            <mat-icon>apps</mat-icon>
        </button>

        <button mat-icon-button class="mat-button-right">
            <mat-icon>more_vert</mat-icon>
        </button>
      </div>
    </mat-toolbar>
  </div>

  <mat-grid-list cols="1" rowHeight="1:4">
    <mat-grid-tile>1</mat-grid-tile>
  </mat-grid-list>

</mat-sidenav-container>
