<div class="page-wrap height-100" id="forgot-password">
    <div class="session-form-hold animated fadeInLeft">
      <mat-card>
        <mat-card-header class="text-center">
          <mat-card-title>
            <div class="logo">
              <img src="/assets/logo.png" alt="">
            </div>
          </mat-card-title>
          <mat-card-subtitle>
            Preencha abaixo e aguarde nosso email!
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div>
            <mat-form-field class="example-full-width">
              <input #email matInput placeholder="Email" value="">
            </mat-form-field>
          </div>

          <div class="campo-login">
            <button mat-raised-button color="primary" class="button-login">Recuperar</button>
          </div>
          <div class="campo-login link-auth text-center full-width" style="display: flex; box-sizing: border-box; flex-direction: row;">
            <a routerLink="/login">Voltar</a>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
