<div class="page-wrap height-100" id="signup">
  <div class="session-form-hold animated fadeInDown">
    <mat-card>
      <mat-card-header class="text-center">
        <mat-card-title>
          <div class="logo">
            <img src="/assets/logo.png" alt="">
          </div>
        </mat-card-title>
        <mat-card-subtitle>
          Preencha os campos abaixo e pule para próxima fase!
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="f" (ngSubmit)="avancar()">
          <div>
            <mat-form-field class="example-full-width">
              <input matInput placeholder="Nome Completo" formControlName="name" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input #email matInput placeholder="Email"  formControlName="email" required>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="example-full-width">
              <input #senha matInput placeholder="Senha" type="password"  formControlName="password" required>
            </mat-form-field>
          </div>
          <div class="campo-login">
            <button mat-raised-button color="primary" class="button-login" [disabled]="!f.valid">Avançar</button>
          </div>
          <div class="campo-login link-auth text-center full-width" style="display: flex; box-sizing: border-box; flex-direction: row;">
            <a routerLink="/login">Já tenho uma conta</a>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
