.mat-toolbar-layout
  z-index: 1
  display: flex
  position: fixed
  box-shadow: 0 2px 5px rgba(0,0,0,.26)
  flex-wrap: wrap
  margin-bottom: 0px
  flex-wrap: wrap
  -webkit-box-direction: normal
  overflow: hidden

.cabecalho-sidenav
  position: fixed
  display: block
  width: 40%

.mensagem-inicial
  margin: 0 0 0 0

#header-sidenav
  position: relative
  background-color: red
  width: 100%
  height: 25%
  z-index: 1
  box-shadow: 0 2px 5px rgba(0,0,0,.26)

.title
  position: relative
  margin: 5px 2px 5px

.space
  flex: 1 1 auto

#title-menu
  padding: 0 0 0 20px
