<div class="page-wrap height-100">
  <div class="app-error">
    <div class="fix">
      <mat-icon class="error-icon mat-icon mat-warn material-icons">error</mat-icon>
      <div class="error-text">
        <h1 class="error-title">404</h1>
        <div class="error-subtitle">
            <h2>Pagina não Encontrada!</h2>
        </div>
      </div>
      <div class="error-actions">
        <a mat-raised-button color="primary" href="/">Voltar ao Inicio</a>
        <button mat-raised-button color="warn">Reportar Problema</button>
      </div>
    </div>
  </div>
</div>
