.egret-indigo .mat-icon.mat-warn {
  color: #f44336;
}
.app-error {
  text-align: center;
  width: 320px;
  max-width: 320px;
  margin: 0 auto;
}
.fix {
  position: relative;
  overflow: hidden;
}
div {
  box-sizing: border-box;
}
.app-error .error-icon {
  height: 120px;
  width: 120px;
  font-size: 120px;
  float: left;
}
.app-error .error-text {
  float: right;
  width: 200px;
  max-width: 200px;
}
.app-error .error-title {
  font-size: 5rem;
  font-weight: 900;
  margin: 0;
}
.h1, h1 {
  font-size: 2rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  margin-bottom: .5rem;
  font-weight: 400;
  line-height: 1.1;
  color: inherit;
}
h1 {
  display: block;
  font-size: 2em;
  -webkit-margin-before: 0.67em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  font-weight: bold;
}
.app-error .error-subtitle {
  font-size: 1.5rem;
  font-weight: 300;
}
.app-error .error-actions {
  width: 100%;
  overflow: hidden;
  min-height: 54px;
  margin-top: 100px;
}
