<section hidden>
  <mat-progress-bar #count color="warn" mode="determinate" [value]="count"></mat-progress-bar>
</section>

<header id="home-header">
  <div class="container">
    <div class="home-logo">
      <img src="assets/logo-full.png" alt=".all Logo">
    </div>
    <span style="flex: 1 1 1e-09px; box-sizing: border-box;"></span>
    <!--a mat-button routerLink="/solicitar-carona">Solicitar Carona</a-->
    <a mat-button routerLink="/cadastro">Cadastrar</a>
  </div>
</header>

<div class="section-home">
  <img src="assets/mapa.png" alt="">
</div>
