.action-title {
    margin-top: 50px;
    margin-bottom: 50px;
}

.action-subtitle {
    margin-top: 50px;
}

#botao-scroll-header {
    display: block;
    margin: auto;
    text-align: center;
    margin-bottom: 0px;
}

.main-header h1 {
    color: #fff;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 45px;
    text-shadow: 0 18px 20px rgba(102, 102, 102, 0.34);
}
