.action-title {
  margin-top: 50px;
  margin-bottom: 50px;
}
.action-subtitle {
  margin-top: 50px;
}
#botao-scroll-header {
  display: block;
  margin: auto;
  text-align: center;
  margin-bottom: 0px;
}
