#home-header {
    z-index: 9999;
    display: block;
    position: relative;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .26);
    flex-wrap: wrap;
    -webkit-box-direction: normal;
    width: 100%;
    margin: 0;
    background-color: rgba(255, 255, 255, 100);
    position: fixed;
    img {
        height: 50px;
        width: auto;
    }
}

.cabecalho-sidenav {
    // width: 500px;
    overflow: hidden;
    height: 100vh;
    position: fixed;
}

.cabecalho {
    width: 300px;
}

.header-container {
    background-color: #0066eb;
    color: #ffff;
    padding: 30px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .5);
    p,
    h1,
    h2,
    h3,
    h4 {
        padding-top: 10%;
    }
}

.header-menu a {
    text-align: center;
}

.cabecalho .header-imagem {
    background-image: url('/assets/brunoleone.jpg'); //https://material.angular.io/assets/img/examples/shiba1.jpg
    background-size: cover;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    margin: auto;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1;
    border: 2px #fff;
}
